{% extends 'IcwApp/base.html' %}

{% load static %}


{% block header %}
<h1>Welcome to CodeCrew</h1>
{% endblock header %}

{% block sidebar %}
<table>
<ul>
<li><a href="https://www.code-crew.org/partner">In School electives</a></li>
<li><a href="https://www.code-crew.org/afterschool">After School Programs</a></li>
<li><a href="https://https://www.code-crew.org/events">Exposure Events</a></li>
<li><a href="https://https://www.code-crew.org/codeschool">Code School</a></li>
</ul>
</table>
{% endblock sidebar %}



{% block content %}
<p>CodeCrew is passionate about mentoring youth to be tech leaders and innovators throughout
    Memphis and we are always looking for brilliant people to join our team. Learn more about
    our open positions below and submit your resume to us for the
    position that best fits you.</p>


{% endblock content %}

{% block footer %}
88 Union Avenue, 2nd Floor, Memphis, TN 38103  |  901-229-1720  |
{% endblock footer %}