{% extends 'IcwApp/base.html' %}

{% load static %}

{% block header %}
<h1>Resources</h1>
{% endblock header %}

{% block sidebar %}
<table>
    <ul>
        <li><a href="https://www.code-crew.org/partner">In School electives</a></li>
        <li><a href="https://www.code-crew.org/afterschool">After School Programs</a></li>
        <li><a href="https://https://www.code-crew.org/events">Exposure Events</a></li>
        <li><a href="https://https://www.code-crew.org/codeschool">Code School</a></li>
    </ul>
</table>
{% endblock sidebar %}


{% block content %}
<p>We serve as a resource for parents, educators, and other organizations looking to address the digital skills gap, and raising awareness about the importance of diversity in tech and the role of computer science education in lifting prosperity in Memphis.
    CodeCrew is passionate about students and the community alike to have access to quality computer science and tech education.  As advocates raising awareness of the importance of computer science education, we whole heartedly support other initiatives in Memphis engaged in this work.
</p>
{% endblock content %}

{% block footer %}
88 Union Avenue, 2nd Floor, Memphis, TN 38103  |  901-229-1720  |
{% endblock footer %}


